:root {
  --color: #fefdfd;
  --off-color: rgba(255,255,255, .6);
  --primary-color: #1819cd;
  --black: #212524;
  --danger: #d71c1f;
}

.calendar {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(1vh + 1rem);
  cursor: default;
  overflow: hidden;
}
.calendar__wrapper {
  scroll-behavior: smooth;
  overflow-y: hidden;
  width: 95%;
  /*min-width: 365px;*/
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 1px;
  background-color: var(--primary-color);
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.15);
}
@media (orientation: portrait) {
  .calendar__wrapper {
    height: 70vh;
  }
}
.calendar__title {
  color: var(--primary-color);
  font-size: calc(1.25vh + 2rem);
  font-weight: 400;
  height: 8vh;
  display: flex;
  align-items: center;
}
@media (orientation: landscape) {
  .calendar__title {
    display: none;
  }
}
.calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__month {
  padding: 0 3rem;
}
.calendar__prev-month, .calendar__next-month {
  font-size: 1em;
  cursor: pointer;
}
.calendar__prev-month:hover, .calendar__next-month:hover {
  opacity: 0.6;
}
.calendar__header {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  color: var(--color);
  padding: 1rem 0 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.calendar__year {
  font-weight: 300;
}
.calendar__month {
  font-weight: 700;
}
.calendar__table {
  flex: 1;
  width: 100%;
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));*/
  grid-template-columns: repeat(7, minmax(45px, 1fr));
  grid-template-rows: 4vh;
  background-color: var(--primary-color);
  grid-gap: 1px;
}
.calendar__day, .calendar__number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__number {
  position: relative;
  padding: 0.6rem;
  background-color: #fff;
  /*margin-left: .2rem;
  margin-bottom: .2rem;*/
  font-size: calc(.25vh + 1rem);
  cursor: pointer;
  /*
  &:nth-child(7n) {
    margin-right: .2rem;
  }*/
}
.calendar__number--has-tooltip:hover {
  cursor: help;
}
.calendar__number--has-tooltip:hover span {
  display: block;
}
.calendar__number--has-tooltip span {
  display: none;
  white-space: pre-wrap;
  position: absolute;
  min-width: 150px;
  max-width: 200px;
  text-align: center;
  padding: 6px;
  background-color: #ededed;
  border-radius: 6px;
  font-size: 0.9em;
  right: 5px;
  z-index: 100;
}
.calendar__number img {
  position: absolute;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100px;
}
.calendar__number:nth-child(7n+1).calendar__number--has-tooltip span {
  left: 5px;
}
.calendar__number--off {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(.35) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='rgba(248,248,248,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='8' stroke='rgba(255,255,255,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-45,-45)' fill='url(%23a)'/></svg>");
}
.calendar__number--selected {
  grid-column: span 2;
  grid-row: span 2;
}
.calendar__number--active {
  background-color: #dbdbdb;
  font-weight: 700;
  cursor: pointer;
}
.calendar__number--active .calendar__day-number {
  font-size: 1.7rem;
  margin: -0.25rem;
}
.calendar__number:hover .calendar__day-number {
  font-size: 1.35em;
}
.calendar__day {
  font-size: 0.8em;
  color: var(--color);
  background-color: var(--primary-color);
  font-weight: 300;
}
.calendar__day:first-child {
  font-weight: 600;
}
.calendar__day-number {
  align-self: flex-start;
  font-size: 1em;
  text-align: left;
  width: 100%;
  transition: all 0.35s ease;
}
.calendar .calendar__button {
  display: flex;
  height: 10vh;
  align-items: center;
}
@media (orientation: landscape) {
  .calendar .calendar__button {
    display: none;
  }
}

.current-day {
  cursor: default;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--color);
  min-width: 22%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: calc(1vh + 1.5rem);
}
@media (orientation: portrait) {
  .current-day {
    height: initial;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
  }
}
.current-day__title {
  color: var(--off-color);
  font-size: 1em;
  padding: 10vh 0 2vh;
  border-bottom: 1px solid var(--off-color);
  margin-bottom: 3vh;
  font-weight: 400;
}
@media (orientation: portrait) {
  .current-day__title {
    display: none;
  }
}
@media (orientation: portrait) {
  .current-day .current-day__btn {
    display: none;
  }
}
.current-day__heading {
  padding: 3vh 0 3vh;
}
@media (orientation: portrait) {
  .current-day__heading {
    padding: 0;
    font-size: 0.8em;
    display: flex;
    min-width: 50vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.current-day__subtitle {
  font-size: 1.2em;
  padding: 0 0 3vh;
  font-weight: 300;
}
@media (orientation: portrait) {
  .current-day__subtitle {
    font-size: 1em;
    padding: 0;
    flex-basis: 100%;
    height: 20px;
  }
}
.current-day__day-info {
  font-size: 1.3em;
  /*padding: 0 0 2vh;*/
  font-weight: 600;
}

.btn {
  border-radius: 150px;
  outline: none;
  margin: 0 auto;
  background-color: transparent;
  display: block;
  padding: 0.8vh 2.5vh;
  color: var(--color);
  border: 3px solid var(--color);
  font-size: calc(1vh + .6rem);
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  opacity: 0.4;
  color: black;
}
.btn--primary {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}
.btn--primary:hover {
  color: var(--color);
  background-color: var(--primary-color);
  opacity: 1;
}
.btn--black {
  color: var(--black);
  border: 3px solid var(--black);
}
.btn--black:hover {
  color: var(--color);
  background-color: var(--black);
  opacity: 1;
}
.btn--danger {
  color: var(--danger);
  border: 3px solid var(--danger);
}
.btn--danger:hover {
  color: var(--color);
  background-color: var(--danger);
  opacity: 1;
}

.dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog:not([open]) {
  display: none;
}
.dialog__popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fefdfd;
  padding: 3vw 4vw;
  border-radius: 10px;
}
.dialog .btn {
  margin: 5vw auto 1vw;
}

.color-chooser {
  font-size: calc(2.2rem + 1.6vw);
}
.color-chooser h3 {
  margin: 0 0 2rem;
  font-size: 1em;
  font-weight: 300;
  border-bottom: 1px solid #222;
  padding: 0 2rem 2vw;
  text-align: center;
}
.color-chooser__color-options {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(55px, 1fr));
  justify-content: center;
  -moz-column-gap: 2vh;
       column-gap: 2vh;
  row-gap: 3vh;
}
@media (orientation: portrait) {
  .color-chooser__color-options {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(55px, 1fr));
  }
}
.color-chooser__color-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.color-chooser__color-option--blue .color-chooser__color-preview {
  background-color: #1B19CD;
}
.color-chooser__color-option--red .color-chooser__color-preview {
  background-color: #D01212;
}
.color-chooser__color-option--purple .color-chooser__color-preview {
  background-color: #721D89;
}
.color-chooser__color-option--green .color-chooser__color-preview {
  background-color: #158348;
}
.color-chooser__color-option--orange .color-chooser__color-preview {
  background-color: #EE742D;
}
.color-chooser__color-option--deep-orange .color-chooser__color-preview {
  background-color: #F13C26;
}
.color-chooser__color-option--baby-blue .color-chooser__color-preview {
  background-color: #31B2FC;
}
.color-chooser__color-option--cerise .color-chooser__color-preview {
  background-color: #EA3D69;
}
.color-chooser__color-option--lime .color-chooser__color-preview {
  background-color: #36C945;
}
.color-chooser__color-option--teal .color-chooser__color-preview {
  background-color: #2FCCB9;
}
.color-chooser__color-option--pink .color-chooser__color-preview {
  background-color: #F50D7A;
}
.color-chooser__color-option--black .color-chooser__color-preview {
  background-color: #212524;
}
.color-chooser__color-option h4 {
  font-size: 0.4em;
  font-weight: 600;
  height: 2vh;
}
.color-chooser__color-preview {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (orientation: portrait) {
  .color-chooser__color-preview {
    width: 10vw;
    height: 10vw;
  }
}
.color-chooser__color-preview:hover {
  opacity: 0.8;
}
.color-chooser__color-preview:hover i {
  transform: translateY(0.15rem);
}
.color-chooser__color-preview i {
  color: var(--color);
  font-size: 0.5em;
  transition: transform 0.2s ease-out;
}

.note-editor {
  font-size: calc(2.2rem + 1.6vw);
}
.note-editor h3 {
  margin: 0 0 1rem;
  font-size: 1em;
  font-weight: 300;
  /*border-bottom: 1px solid #222;*/
  padding: 0 2rem 2vw;
  text-align: center;
}
@media (orientation: landscape) {
  .note-editor h3 {
    padding-bottom: 0;
  }
}
.note-editor__textarea {
  font-weight: 600;
  color: var(--black);
  font-size: 0.7em;
  width: 100%;
  height: 30vh;
  border: 1px solid #a7a6a6;
  padding: 2rem;
  border-radius: 10px;
  outline: none;
  resize: none;
}
.note-editor__buttons {
  display: flex;
}
.note-editor__buttons .btn {
  margin-top: 1rem;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Poppins", "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #FEFDFD;
  display: flex;
}
@media (orientation: portrait) {
  body {
    background-color: #bafaff;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */