:root {
  --color: #fefdfd;
  --off-color: rgba(255,255,255, .6);
  --primary-color: #1819cd;
  --black: #212524;
  --danger: #d71c1f;
}

@import './components/calendar';
@import './components/current-day';
@import './components/button';
@import './components/dialog';
@import './components/color-chooser';
@import './components/note-editor';

html {
  font-size: 62.5%;
}

* {
  font-family: 'Poppins', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #FEFDFD;
  display: flex;
  @media (orientation: portrait) {
    background-color: rgb(186, 250, 255);
    flex-direction: column;
  }
}
