.btn {
  border-radius: 150px;
  outline: none;
  margin: 0 auto;
  background-color: transparent;
  display: block;
  padding: .8vh 2.5vh;
  color: var(--color);
  border: 3px solid var(--color);
  font-size: calc(1vh + .6rem);
  cursor: pointer;

  &:hover {
    background-color: white;
    opacity: 0.4;
    color: black;
  }

  &--primary {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    &:hover {
      color: var(--color);
      background-color: var(--primary-color);
      opacity: 1;
    }
  }

  &--black {
    color: var(--black);
    border: 3px solid var(--black);
    &:hover {
      color: var(--color);
      background-color: var(--black);
      opacity: 1;
    }
  }

}