.dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not([open]) {
    display: none;
  }
  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fefdfd;
    padding: 3vw 4vw;
    border-radius: 10px;
  }
  .btn {
    margin: 5vw auto 1vw;
  }
}